@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page - Group4_Assignment2</title>
    <style>


        body {
            background-image: radial-gradient( circle farthest-corner at 78% 59.3%, rgba(255,104,104,1) 0%, rgba(230,127,41,1) 90% );
        }

        .topnav {
            overflow: hidden;
            background-color: #333;
        }

            .topnav a {
                float: left;
                color: #f2f2f2;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
            }
    </style>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <div class="topnav">
        <a asp-controller="home" asp-action="Index">Home</a>
        <a asp-controller="home" asp-action="Mexican">Mexican</a>
        <a asp-controller="home" asp-action="Japanese">Japanese</a>
        <a asp-controller="home" asp-action="Indian">Indian</a>
        <a asp-controller="home" asp-action="Beersindex2">Beers</a>
        <a asp-controller="home" asp-action="Chart">Graph</a>
        <a asp-controller="home" asp-action="AboutUs">About Us</a>
    </div>
    <div class="w3-container w3-teal">
        <h1>About this Site</h1>
        <p>Learn about this site</p>
    </div>

    <div class="w3-content">


        <div class="w3-twothird w3-container">
            <h2>About</h2>
            <p>
                This site was developed by Group 4 of the Business Analytics and Information Systems program offered by the University of South Florida, Cohort 2019.
                The goal of this site is to showcase the application of skills and concepts learend in Distributed Information Systems course.

                Focusing on, user interfaces we created a static web site, using the common interface elements such as images, styles and html tags.
                Our topic of interest within the group was to showcase food and drinks based on our interest. These informative pages highlights food items and drinks
                from various cultures.

                The website is responsibe and compatible with mobile platforms and web browsers, through the integration of style sheets. Offering consistent navigation through each of the pages,
                allowing the end user to quickly access the navigation from one page to another.
            </p>
        </div>
        <div class="w3-twothird w3-container">
            <h2>Page Design</h2>
            <p>
                I.Content – Food and Drinks
            </p>

            <p>     II. Chart – TBD </p>
            <p>    II.Responsiveness – compatibility with small (mobile), medium (tablet) and large (desktop) screen sizes </p>
            <p>  IV.	Usability –ease of use and navigation of your interface end users </p>
            <p>  V. Design – use of at least 3 specific design guidelines and ideas for web sites (integration of images, links and content dividers) </p>
            <p> VI.Group development – collaborative inputs from all team members, though GitHub </p>
            <p>  VII.Reflection summary of the learning experience from this project can be found from our GitHub page.</p>
        </div>


    </div>
</body>
</html>

