
@{
    Layout = null;
}

<html>

<a asp-controller="home" asp-action="Beers">To have a beer click here</a>
<head>
    <title>Beer Life</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Beers</title>
    <style>



        body {
            background-image: radial-gradient( circle farthest-corner at 78% 59.3%, rgba(255,104,104,1) 0%, rgba(230,127,41,1) 90% );
        }

        .topnav {
            overflow: hidden;
            background-color: #333;
        }

            .topnav a {
                float: left;
                color: #f2f2f2;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
            }
    </style>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>

    <div class="topnav">
        <a asp-controller="home" asp-action="Index">Home</a>
        <a asp-controller="home" asp-action="Mexican">Mexican</a>
        <a asp-controller="home" asp-action="Japanese">Japanese</a>
        <a asp-controller="home" asp-action="Indian">Indian</a>
        <a asp-controller="home" asp-action="Beersindex2">Beers</a>
        <a asp-controller="home" asp-action="Chart">Graph</a>
        <a asp-controller="home" asp-action="AboutUs">About Us</a>
    </div>

    <div class="w3-container w3-teal">
        <h1>Beers</h1>
        <p>Most widely consumed beers</p>
        <h4>&nbsp;</h4>
        <table width="837" border="1">
            <tbody>
                <tr>
                    <th width="827" scope="col"><img src="~/img/beer_imgs/Am Amber.jpg" style="width:100%"></th>
                </tr>
                <tr>
                    <th scope="row">
                        <p style="user-select: auto;">Amber lager features prevalent malt flavors with varying levels of hoppiness. This beer is also characterized by a darker color, caramel aroma, and smooth taste.</p>
                    </th>
                </tr>
                <tr>
                    <th scope="row"><img src="~/img/beer_imgs/american-lagers.jpg" style="width:100%"></th>
                </tr>
                <tr>
                    <th scope="row"><p style="user-select: auto;">The most popular beers in America — Bud Light, Coors Light, Budweiser and Miller Lite — are all types of lager. They're inherently drinkable: not hoppy, bitter or malty like their IPA counterparts.</p></th>
                </tr>
                <tr>
                    <th scope="row"><img src="~/img/beer_imgs/Schwarzbier8.jpg" style="width:100%"></th>
                </tr>
                <tr>
                    <th scope="row">Irish Dark Beer: It is popular with the Irish, both in Ireland and abroad. In spite of declining consumption since 2001, it is still the best-selling alcoholic drink in Ireland </th>
                </tr>

            </tbody>
        </table>
        <h3 style="user-select: auto;">&nbsp;</h3>
        <h2 style="user-select: auto;">Different Styles and Varieties of Beer</h2>
        <p style="user-select: auto;">Check out the tables below to learn about the different styles and varieties of beer.</p>
        <h2 style="user-select: auto;">Types of Pale Lagers and Pilsners</h2>
        <p style="user-select: auto;">Pale lager and pilsners are golden-colored beers that are lighter in flavor and lower in alcohol content. This style of beer became popular in what is now modern Czech Republic and Germany.</p>
        <table width="825" border="1">
            <tbody>
                <tr>
                    <th width="300" scope="col">
                        <h3 style="user-select: auto;">American Lager</h3>
                        <img class="article-img article-img--sm article-img--left" src="~/img/beer_imgs/american-lager.jpg" alt="American lager in a lager glass" style="user-select: auto;">
                    </th>
                    <th width="509" scope="col">
                        <p style="user-select: auto;">American lager is light in flavor, color, and alcohol content, and is often produced in large quantities. </p>
                        <p style="user-select: auto;"><b style="user-select: auto;">ABV:</b> 3.2-4.0% <b style="user-select: auto;">IBU:</b> 5-15</p>
                        <p style="user-select: auto;"><b style="user-select: auto;">Examples:</b> Budweiser, Coors, Pabst Blue Ribbon</p>
                        <p style="user-select: auto;"><b style="user-select: auto;">Pairs With:</b> American cuisine, spicy food</p>
                    </th>
                </tr>
                <tr>
                    <th scope="row"><img class="article-img article-img--sm article-img--left" src="~/img/beer_imgs/german-helles.jpg" alt="German Helles in a pilsner glass" style="user-select: auto;"></th>
                    <td>
                        <p style="user-select: auto;">German helles is maltier than a traditional pilsner and features a bright gold color.</p>
                        <p style="user-select: auto;"><b style="user-select: auto;">ABV:</b> 4.8-5.6% <b style="user-select: auto;">IBU:</b>18-25</p>
                        <p style="user-select: auto;"><b style="user-select: auto;">Examples:</b> Victory Helles Lager, Stoudt's Gold Lager</p>
                        <p style="user-select: auto;"><b style="user-select: auto;">Pairs With:</b> German cuisine, pork, brie</p>
                        <p style="user-select: auto;"><b style="user-select: auto;">Serving Temperature:</b> 40-45 F</p>
                    </td>
                </tr>
                <tr>
                    <th scope="row"><img class="article-img article-img--sm article-img--left" src="~/img/beer_imgs/German_P.JPG" alt="American lager in a lager glass" style="user-select: auto;"></th>
                    <td>
                        <p style="user-select: auto;">German pilsner is pale gold in color with a medium hop flavor and a slight note of maltiness.</p>
                        <p style="user-select: auto;"><b style="user-select: auto;">ABV:</b> 4.6-5.3%<b style="user-select: auto;"> IBU:</b> 25-40</p>
                        <p style="user-select: auto;"><b style="user-select: auto;">Examples:</b> Tröegs Sunshine Pils, Sierra Nevada's Nooner Pilsner</p>
                        <p style="user-select: auto;"><b style="user-select: auto;">Pairs With:</b> German cuisine, poultry, fish, spicy cheese</p>
                        <p style="user-select: auto;"><b style="user-select: auto;">Serving Temperature:</b> 40-45 F</p>
                    </td>
                </tr>
                <tr>
                    <th scope="row"><img src="~/img/beer_imgs/czech-or-bohemian-pilsner.jpg" alt="German Helles in a pilsner glass" width="243" height="230" class="article-img article-img--sm article-img--left" style="user-select: auto;"></th>
                    <td>
                        <p style="user-select: auto;">Czech or bohemian pilsner is a straw-colored beer with a noticeably bitter hop flavor. These beers can sometimes have a floral aroma.</p>
                        <p style="user-select: auto;"><b style="user-select: auto;">ABV:</b> 4.1-5.1% <b style="user-select: auto;">IBU:</b> 30-45</p>
                        <p style="user-select: auto;"><b style="user-select: auto;">Examples:</b> Lagunitas PILS, Dogfish Head Piercing Pils</p>
                        <p style="user-select: auto;"><b style="user-select: auto;">Pairs With:</b> Spicy food, Asian cuisine, sharp cheddar cheese</p>
                        <p style="user-select: auto;"><b style="user-select: auto;">Serving Temperature:</b> 40-45 F</p>
                    </td>
                </tr>

            </tbody>
        </table>



        <h2 style="user-select: auto;">Types of Dark Lagers</h2>
        <p style="user-select: auto;">Dark lager is malty and smooth, with toasted caramel flavors. These beers tend to have mid-range alcohol content and lower bitterness profiles.</p>
        <table width="825" border="1">
            <tbody>
                <tr>
                    <th width="300" scope="col">
                        <h3 style="user-select: auto;">American Lager</h3>
                        <img class="article-img article-img--sm article-img--left" src="~/img/beer_imgs/American Amber.jpg" alt="American lager in a lager glass" style="user-select: auto;">
                    </th>
                    <th width="509" scope="col">
                        <p style="user-select: auto;">Amber lager features prevalent malt flavors with varying levels of hoppiness. This beer is also characterized by a darker color, caramel aroma, and smooth taste.</p>
                        <p style="user-select: auto;"><b style="user-select: auto;">ABV:</b> 4.8-5.4% <b style="user-select: auto;">IBU:</b> 18-30</p>
                        <p style="user-select: auto;"><b style="user-select: auto;">Examples:</b> Yuengling Lager, Samuel Adams Boston Lager</p>
                        <p style="user-select: auto;"><b style="user-select: auto;">Pairs With:</b> American cuisine, poultry and beef, cheddar</p>
                        <p style="user-select: auto;"><b style="user-select: auto;">Serving Temperature:</b> 45-50 F</p>
                    </th>
                </tr>
                <tr>
                    <th scope="row"><img class="article-img article-img--sm article-img--left" src="~/img/beer_imgs/oktoberfest.JPG" alt="German Helles in a pilsner glass" style="user-select: auto;"></th>
                    <td>
                        <p style="user-select: auto;">Named for the celebration in Munich, Oktoberfest is a full-bodied beer with a rich, toasted flavor and a dark copper color.</p>
                        <p style="user-select: auto;"><b style="user-select: auto;">ABV:</b> 5.1-6.0% <b style="user-select: auto;">IBU:</b> 18-25</p>
                        <p style="user-select: auto;"><b style="user-select: auto;">Examples:</b> Paulaner Oktoberfest-Märzen, Victory Brewing Company Festbier</p><p style="user-select: auto;"><b style="user-select: auto;">Pairs With:</b> German cuisine, meat and vegetables, spicy cheese</p>
                        <p style="user-select: auto;"><b style="user-select: auto;">Serving Temperature:</b> 45-50 F</p>
                    </td>
                </tr>
                <tr>
                    <th scope="row"><img class="article-img article-img--sm article-img--left" src="~/img/beer_imgs/German_J.JPG" alt="American lager in a lager glass" style="user-select: auto;"></th>
                    <td>
                        <p style="user-select: auto;">Schwarzbier is a dark beer that is surprisingly light in flavor. Schwarzbiers are less malty than would be expected, but still boast a slight sweetness.</p>
                        <p style="user-select: auto;"><b style="user-select: auto;">ABV:</b> 3.8-4.9% <b style="user-select: auto;">IBU:</b> 22-30</p>
                        <p style="user-select: auto;"><b style="user-select: auto;">Examples:</b> Shiner Bohemian Black Lager, Guinness Black Lager</p>
                        <p style="user-select: auto;"><b style="user-select: auto;">Pairs With:</b> German cuisine, spicy food, muenster cheese</p>
                        <p style="user-select: auto;"><b style="user-select: auto;">Serving Temperature:</b> 40-45 F</p>
                    </td>
                </tr>
                <tr>
                    <th scope="row"><img src="~/img/beer_imgs/Vienna_Lager.JPG" alt="German Helles in a pilsner glass" width="405" height="403" class="article-img article-img--sm article-img--left" style="user-select: auto;"></th>
                    <td>
                        <p style="user-select: auto;">Vienna lager is reddish in color with a sweet malty flavor. These beers boast a subtle hop flavor and crisp drinkability.</p>
                        <p style="user-select: auto;"><b style="user-select: auto;">ABV:</b> 4.5-5.5% <b style="user-select: auto;">IBU:</b> 22-28</p>
                        <p style="user-select: auto;"><b style="user-select: auto;">Examples:</b> Dos Equis Amber Lager, Great Lakes Eliot Ness, Blue Point Toasted Lager</p>
                        <p style="user-select: auto;"><b style="user-select: auto;">Pairs With:</b> German cuisine, Mexican cuisine, pork, spicy cheese</p>
                        <p style="user-select: auto;"><b style="user-select: auto;">Serving Temperature:</b> 40-45 F</p>
                        <br style="user-select: auto;">
                    </td>
                </tr>

            </tbody>
        </table>

        <p>&nbsp;</p>





</body>
</html>
