@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page - Group4_Assignment2</title>
    <style>


        body {
            background-image: radial-gradient( circle farthest-corner at 78% 59.3%, rgba(255,104,104,1) 0%, rgba(230,127,41,1) 90% );
        }

        .topnav {
            overflow: hidden;
            background-color: #333;
        }

            .topnav a {
                float: left;
                color: #f2f2f2;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
            }
    </style>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <div class="topnav">
    <a asp-controller="home" asp-action="Index">Home</a>
    <a asp-controller="home" asp-action="Mexican">Mexican</a>
    <a asp-controller="home" asp-action="Japanese">Japanese</a>
    <a asp-controller="home" asp-action="Indian">Indian</a>
    <a asp-controller="home" asp-action="Beersindex2">Beers</a>
    <a asp-controller="home" asp-action="Chart">Graph</a>
    <a asp-controller="home" asp-action="AboutUs">About Us</a>

</div>
    <div class="w3-container w3-teal">
        <h1>World's Famous Cuisines</h1>
        <p> Explore the Best of world Cuisine with special recommendations from our very own cohort of MS-BAIS 2020.</p>
    </div>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main w3-content w3-padding" style="max-width:80%;margin-top:50px">

        <!-- First Photo Grid-->
        <div class="w3-row-padding w3-padding-16 w3-center" id="food">
            <div class="w3-quarter">
                <a asp-controller="home" asp-action="Mexican"><img src="~/img/Home_imgs/Mexican.jpg" alt="Mexican" style="width:100%"></a>
              <h2>Mexican Delights</h2>
                <h3>Let’s give them something to taco ‘bout</h3>
                <p>Why be sad in a world that has tacos? Beans and rice and everything nice.Show them you care. Bring tacos.</p>
            </div>
            <div class="w3-quarter">
                <a asp-controller="home" asp-action="Japanese"><img src="~/img/Home_imgs/Japs.jpg" alt="Japanese" style="width:100%"></a>
                <h2>Sushi On</h2>
                <h3>Invented in Japan, Perfected in Tampa. Your feast from the East</h3>
                <p>Your sushi sanctuary. Fresh fish in every dish. Singing to a different tune-a</p>
            </div>
            <div class="w3-quarter">
                <a asp-controller="home" asp-action="Indian"><img src="~/img/Home_imgs/Indian.jpg" alt="Indian" style="width:100%"></a>
                <h2>Indian Delicacies</h2>
                <h3>When you're looking to spice things up a bit..</h3>
                <p>The taste of India. Wait no more, for your favorite Spices from India</p>
                <p>Its Hot!</p>
            </div>
            <div class="w3-quarter">
                <a asp-controller="home" asp-action="Beersindex2"><img src="~/img/Home_imgs/Beer.jpg" alt="Beer" style="width:100%"></a>
                <h2>Beer-Wisers</h2>
                <h3>Beauty is in the eye of the BEER holder.</h3>
                <p>Something Old, Something New, Something Borrowed, and Something Brewed. Why limit happy to an hour?</p>
            </div>
        </div>



        <!-- End page content -->
    </div>

    <script>
// Script to open and close sidebar
        function w3_open() {
            document.getElementById("mySidebar").style.display = "block";
        }

        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
        }</script>



    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; MSBAIS-2020 Group4 Assignment 2 - <a asp-controller="home" asp-action="AboutUs">About Us</a>
        </div>
    </footer>
</body>
</html>
