@{
    Layout = null;
}



<html>
    <! https://cssgradient.io/gradient-backgrounds/
    https://www.w3schools.com/w3css/w3css_colors.asp
    >
<head>
    <title>Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page - Group4_Assignment2</title>
    <style>


        body {
            background-image: radial-gradient( circle farthest-corner at 78% 59.3%, rgba(255,104,104,1) 0%, rgba(230,127,41,1) 90% );
        }

        .topnav {
            overflow: hidden;
            background-color: #333;
        }

            .topnav a {
                float: left;
                color: #f2f2f2;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
            }
    </style>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>

<body>

    <div class="topnav">
        <a asp-controller="home" asp-action="Index">Home</a>
        <a asp-controller="home" asp-action="Mexican">Mexican</a>
        <a asp-controller="home" asp-action="Japanese">Japanese</a>
        <a asp-controller="home" asp-action="Indian">Indian</a>
        <a asp-controller="home" asp-action="Beersindex2">Beers</a>
        <a asp-controller="home" asp-action="Chart">Graph</a>
        <a asp-controller="home" asp-action="AboutUs">About Us</a>
    </div>
    <div class="w3-container w3-teal  w3-margin-bottom">

        <h1>Namaste! Enjoy a day full of Indian cuisines.</h1>
        <p>A typical Indian meal</p>
    </div>

    <div class="w3-content">



        <div class="w3-container w3-light-green w3-margin-bottom">
            <h2>Start your morning breakfast with Idli & Dosa</h2>
        </div>

        <div class="w3-third w3-margin-bottom">
            <img src="~/img/Indian_main/Indian_imgs/Idli_Dosa_breakfast.jpg"style="width:100%;min-height:200px">
 
        </div>
        <div class="w3-twothird  w3-padding-small ">

            <p>
                Idlis and dosas are probably the most popular breakfast foods in India. Though they originated in South India, idlis and dosas have gained nation-wide recognition now.

                <br />
                Steamed, puffy and delectable, Idli doused in the ever-so soothing sambhar sure makes for one of the nation's most favourite breakfast.It is not oily or greasy, yet it is considered to be one of the most delicious regional snacks. It is a popular street food, yet shares no infamous reputation of being unhealthy or calorie-laden.
                <br />
                Dosas are not just a treat for your taste buds, but also light on your digestive system. Prepared from rice and lentils, dosa is fermented breakfast option, which makes it easy for your body to assimilate and digest it.Dosa is also a great source of healthy carbohydrates. Dosa and sambhar both are made from lentils, which provide a good amount of protein to your body.

            </p>
        </div>

        <div class="w3-container  ">
            <p></p>
        </div>

        <div class="w3-container w3-light-green  w3-margin-bottom">
            <h2>Enjoy an Indian Thali for Lunch</h2>
        </div>

        <div class="w3-third w3-margin-bottom">
            <img src="~/img/Indian_main/Indian_imgs/north-Indian-lunch-ideas.jpg" style="width:100%;min-height:200px">
        </div>
        <div class="w3-twothird  w3-padding-small">
            <p>
                There are specific components of the Indian Thali which have a range of health benefits.
                Chickpeas, for example, which are often used in vegetarian curries, are a great source of fibre, zinc, folate and protein, which makes them a healthy factor in a vegetarian Indian diet. Spinach and tomatoes, which are widely used in Indian cuisine, are also known superfoods, containing high levels of antioxidants, vitamins and minerals.
                Likewise, many Indian sauces and accompaniments are vegetable based, such as Sag aloo (spinach) and Gobhi Aloo (cauliflower with potatoes) making them a healthy choice as the majority do not use cream or cheese.
                The minty yoghurt dip raita, made from natural yoghurt, cucumber and mint, is a source of calcium and is a low fat alternative to sauces such as mayonnaise. Natural yoghurt is also often used to form curry sauces instead of cream or coconut milk.
                Garlic features greatly in Indian cooking, which is said to be good for the heart, as do chillies, which are good for the immune system and metabolism.
                <br />Finally, Indian dishes often use vegetable, sesame and peanut oil rather than butter, which keeps them lower in saturated fat.
            </p>
        </div>

        <div class="w3-container  ">
            <p></p>
        </div>

        <div class="w3-container w3-light-green w3-margin-bottom padding: 0 7em 2em 0">
            <h2>The Chit-chats over a Hot Chai and Samosa</h2>
        </div>
        <div class="w3-third w3-margin-bottom">
            <img src="~/img/Indian_main/Indian_imgs/Samosa2.jpg" style="width:100%;min-height:200px">
        </div>
        <div class="w3-twothird w3-padding-small">
            <p>
                Caution: The samosas are not healthy at all,the only benefit it provides is the emotional connect to Indians as they may get a quick nostalgia of their street food outings.

                The good thing is that most Indians do not eat samosas every day either but the Chai is still a must in lot of house-holds So here are the benefits of chai

                <br />1. Protect against free-radicals as its a powerful antioxidant.
                <br />2. Improves digestion
                <br />3. Helps keeps hormones balanced
                <br />4. Strengthens immune system
            </p>
        </div>

        <div class="w3-container  ">
            <p></p>
        </div>

        <div class="w3-container w3-light-green w3-margin-bottom">
            <h2>Finish your day with a full course Dinner </h2>
        </div>
        <div class="w3-third w3-margin-bottom">
            <img src="~/img/Indian_main/Indian_imgs/tandoori-chicken-indian-food.jpg" style="width:100%;min-height:200px">
        </div>
        <div class="w3-twothird w3-padding-small">
            <p>

                Promotes Brain Health
                <br />Tandoori Chicken minimizes the intake of fats and carbs. The herbs that are added to Tandoori Chicken as seasoning increases the nutrient value of the dish. It is believed that Tandoori Chicken is good for your brain health!
                Chicken is known to increase the serotonin level that leads to reduced stress level and fewer mood swings. Tandoori Chicken reduces the risk of Alzheimer’s disease. Chicken contains vitamin B5, B3, B6 and other nutrients.

                <br />Promotes Metabolism
                <br />Chicken is rich in selenium that helps in burning calories faster. Selenium improves the metabolic rate of the body.
                You can make Tandoori Chicken a part of your regular diet but of course in moderation. If you want to include chicken in your daily diet as a protein source then surely Tandoori Chicken is the best tasty choice.
            </p>
        </div>
        <div class="w3-third w3-margin-bottom">
            <img src="~/img/Indian_main/Indian_imgs/roti-naan-whole-wheat.jpg" style="width:100%;min-height:200px">
        </div>
        <div class="w3-twothird w3-padding-small">
            <p>
                "Roti is a whole wheat version of naan bread," says Lauren Minchen, MPH, RDN, CDN. It can be made from a variety of unrefined grains including millet, jowar, bajra, and whole wheat.
                <br />
                <br />It's always best not to overdo it on the bread basket, given how carb-heavy most Indian dishes can be. But if you can't knock the craving, opt for roti since it's easier to digest and more nutritious because of its healthier grain base.
            </p>
        </div>
        <div class="w3-container  ">
            <p></p>
        </div>

        <div class="w3-third w3-margin-bottom">
            <img src="~/img/Indian_main/Indian_imgs/chana-masala.jpg" style="width:100%;min-height:200px">
        </div>
        <div class="w3-twothird w3-padding-small">
            <p>

                When you think of chickpeas, you probably first think of Middle Eastern food like hummus, but it's actually quite popular in Indian cuisine as well.

                <br />Kaufman suggests opting for chana masala, which is a high-protein, plant-based entrée made from a spicy chickpea base. Usually, you'll also find onions, ginger, garlic, and tomatoes in this dish.

                <br />Aside from protein, chana masala is high in fiber, which is essential for keeping you feeling full for longer.
                <br />Chickpeas are also a good source of manganese and folate, which help support bone development—and are so well-loved that we even curated these chickpea recipes!

            </p>
        </div>

    </div>

</body>
</html>
