@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page - Group4_Assignment2</title>
    <style>

        body {
            background-image: radial-gradient( circle farthest-corner at 78% 59.3%, rgba(255,104,104,1) 0%, rgba(230,127,41,1) 90% );
        }

        .topnav {
            overflow: hidden;
            background-color: #333;
        }

            .topnav a {
                float: left;
                color: #f2f2f2;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
            }
    </style>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <div class="topnav">
        <a asp-controller="home" asp-action="Index">Home</a>
        <a asp-controller="home" asp-action="Mexican">Mexican</a>
        <a asp-controller="home" asp-action="Japanese">Japanese</a>
        <a asp-controller="home" asp-action="Indian">Indian</a>
        <a asp-controller="home" asp-action="Beersindex2">Beers</a>
        <a asp-controller="home" asp-action="Chart">Graph</a>
        <a asp-controller="home" asp-action="AboutUs">About Us</a>
    </div>
    <div class="w3-container w3-teal">
        <h1>Hola, Here's the best of Mexican Cuisine.</h1>
        <p> Most Mexican food has been Americanized. In our family, we partake in traditional Mexican comfort food and drink as my husband has been taught from his grandmother and mother. Below are some of our family favorites.</p>
    </div>

    <div class="w3-content">

        <div class="w3-row w3-margin">

            <div class="w3-third">
                <img src="https://www.cookingclassy.com/wp-content/uploads/2019/04/horchata-6-768x1152.jpg" style="width:100%;min-height:200px">
            </div>
            <div class="w3-twothird w3-container">
                <h2>Horchata</h2>
                <p>
                    Our favorite drink is Horchata which is made up of white rice soaked in water. It is flavored with cinnamon and is sweetened with granulated sugar. Everything is minced up together in a blender and later strained to remove solids. Some versions are dairy free while others contain milk and some versions contain nuts or added flavor like vanilla or coconut.
                </p>
            </div>

        </div>
        <div class="w3-row w3-margin">

            <div class="w3-third">
                <img src="https://media.chefdehome.com/750/0/0/homemade-flour-tortillas/homemade-flour-tortillas-chefdehome-17.jpg" style="width:100%;min-height:200px">
            </div>
            <div class="w3-twothird w3-container">
                <h2>Tortillas</h2>
                <p>
                    Tortillas are a staple in our home. We eat them with most meals even if it's not a "Mexican" meal. In this picture, it shows the steps of how we make them. The last step we use a griddle after we roll them out and of course there is a pinch of love.
                </p>
            </div>

        </div>
        <div class="w3-row w3-margin">

            <div class="w3-third">
                <img src="http://ukcdn.ar-cdn.com/recipes/port250/19e7d044-36e1-4284-9014-842425023454.jpg" style="width:100%;min-height:200px">
            </div>
            <div class="w3-twothird w3-container">
                <h2>Lengua</h2>
                <p>
                    His favorite meat in tortillas his lengua, which is translated to cow tongue. This meat is slowly cooked 8-10 hours and sprinkled with cilantro, garlic, and jalepenos.
                </p>
            </div>

        </div>
        <div class="w3-row w3-margin">

            <div class="w3-third">
                <img src="https://www.cookwithkushi.com/wp-content/uploads/2019/08/IMG_8448_.jpg" style="width:100%;min-height:200px">
            </div>
            <div class="w3-twothird w3-container">
                <h2>Street Style Corn on the Cob</h2>
                <p>
                    Grill the corn inside the husks for 20-25 minutes and then slather it with mayo and chile lime spice from the local Mexican Mart and sprinkle parmesan cheese.
                </p>
            </div>

        </div>
        <div class="w3-row w3-margin">

            <div class="w3-third">
                <img src="http://www.casacomida.com/wp-content/uploads/2016/03/tamales.jpg" style="width:100%;min-height:200px">
            </div>
            <div class="w3-twothird w3-container">
                <h2>Tamales</h2>
                <p>
                    Tamales are an all-day Christmas tradition that we only get to indulge in on Christmas day when his sisters make them. We have not made them ourselves.
                </p>
            </div>

        </div>
        <div class="w3-row w3-margin">

            <div class="w3-third">
                <img src="https://i0.wp.com/www.adrianasbestrecipes.com/wp-content/uploads/2019/04/Strawberry-Mosaic-Mexican-Jello-Dessert.png?w=1000&ssl=1" style="width:100%;min-height:200px">
            </div>
            <div class="w3-twothird w3-container">
                <h2>Coconut Jello for Dessert</h2>
                <p>
                    His favorite dessert is coconut jello of any kind. This particular recipe is mixed with strawberries.
                </p>
            </div>

        </div>
    </div>
</body>
</html>