@model MVC_EF_Start.Models.Review

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Review</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="review_id" />
            <div class="form-group">
                <label asp-for="reviewer_id" class="control-label"></label>
                <input asp-for="reviewer_id" class="form-control" />
                <span asp-validation-for="reviewer_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="review_Details" class="control-label"></label>
                <input asp-for="review_Details" class="form-control" />
                <span asp-validation-for="review_Details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="review_rating" class="control-label"></label>
                <input asp-for="review_rating" class="form-control" />
                <span asp-validation-for="review_rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="item_id" class="control-label"></label>
                <input asp-for="item_id" class="form-control" />
                <span asp-validation-for="item_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
